## Importar librerías

In [1]:
import pandas as pd
import numpy as np

## Cargar bases de datos

In [2]:
#Cargar base de datos afecciones
file = '../../Registros/Bases de datos/2010_2022/afecciones2010_2022.csv'
afecciones = pd.read_csv(file, on_bad_lines='skip')
afecciones.head()

      ID  NUMAFEC  AFEC
0    399        2  S029
1    399        3  S529
2    399        1  I10X
3  25245        1  Z301
4  25569        1  Z301

In [3]:
afecciones.shape

(335485, 3)

In [4]:
#Cargar base de datos de claves afecciones
file = '../../Registros/Claves/CLAVES_AFEC.xlsx'
claves = pd.read_excel(file)
claves.head()

,CONSECUTIVO,LETRA,CATALOG_KEY,NOMBRE,CODIGOX,LSEX,LINF,LSUP,TRIVIAL,ERRADICADO,...,PRIN_SINAC_SUBGRUPO,DESCRIPCION_SINAC_SUBGRUPO,DAGA,ASTERISCO,PRIN_MM,PRIN_MM_GRUPO,DESCRIPCION_MM_GRUPO,PRIN_MM_SUBGRUPO,DESCRIPCION_MM_SUBGRUPO,COD_ADI_MORT
0,1,A,A00,CÓLERA,NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,2,A,A000,"CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO CH...",NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,3,A,A001,"CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO EL...",NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,4,A,A009,"CÓLERA, NO ESPECIFICADO",NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
4,5,A,A01,FIEBRES TIFOIDEA Y PARATIFOIDEA,NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO

## Cambiar claves de afecciones

In [5]:
# Dejar solo los primeros 3 caracteres (afección general)
afecciones['AFEC'] = afecciones['AFEC'].str[:3]
afecciones.head()

      ID  NUMAFEC AFEC
0    399        2  S02
1    399        3  S52
2    399        1  I10
3  25245        1  Z30
4  25569        1  Z30

In [6]:
#Usar solo las columnas que nos interesan de claves 
claves = claves[['CATALOG_KEY','NOMBRE']]
claves.rename(columns={'CATALOG_KEY':'CLAVE'}, inplace = True)
claves.head()

  CLAVE                                             NOMBRE
0   A00                                             CÓLERA
1  A000  CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO CH...
2  A001  CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO EL...
3  A009                            CÓLERA, NO ESPECIFICADO
4   A01                    FIEBRES TIFOIDEA Y PARATIFOIDEA

In [7]:
#Revisar claves duplicadas
claves[claves['CLAVE'].duplicated()]

      CLAVE                                             NOMBRE
68      A09  DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN I...
1352    C80           TUMOR MALIGNO DE SITIOS NO ESPECIFICADOS
3945    I48                     FIBRILACIÓN Y ALETEO AURICULAR
4938    K85                                 PANCREATITIS AGUDA
5323    L89                                 ÚLCERA DE DECÚBITO
5663    M45                          ESPONDILITIS ANQUILOSANTE
6797    O60                                    PARTO PREMATURO
7002    O96  MUERTE MATERNA DEBIDA A CUALQUIER CAUSA OBSTÉT...
7007    O97  MUERTE POR SECUELAS DE CAUSAS OBSTÉTRICAS DIRE...
8190    R17                          ICTERICIA NO ESPECIFICADA
8528    R95              SÍNDROME DE LA MUERTE SÚBITA INFANTIL
10062   U92                           REINCIDENCIA DE COVID-19

In [8]:
#Dejar la última clave (la primera no es especificada en el catálogo de claves)
claves.drop_duplicates(subset = ['CLAVE'], keep = 'last', inplace = True)

In [9]:
#Combinar la tabla de claves con afecciones para tener el nombre de la afección
afecciones.rename(columns={'AFEC':'CLAVE'}, inplace = True)
afecciones = afecciones.merge(claves, how = 'left', on = 'CLAVE')
afecciones.rename(columns={'NOMBRE':'AFEC'}, inplace = True)
afecciones.head()

      ID  NUMAFEC CLAVE                                        AFEC
0    399        2   S02  FRACTURA DE HUESOS DEL CRÁNEO Y DE LA CARA
1    399        3   S52                      FRACTURA DEL ANTEBRAZO
2    399        1   I10            HIPERTENSIÓN ESENCIAL (PRIMARIA)
3  25245        1   Z30             ATENCIÓN PARA LA ANTICONCEPCIÓN
4  25569        1   Z30             ATENCIÓN PARA LA ANTICONCEPCIÓN

In [10]:
#Quitar la columna de clave
afecciones = afecciones[['ID', 'NUMAFEC', 'AFEC']]
afecciones.head()

      ID  NUMAFEC                                        AFEC
0    399        2  FRACTURA DE HUESOS DEL CRÁNEO Y DE LA CARA
1    399        3                      FRACTURA DEL ANTEBRAZO
2    399        1            HIPERTENSIÓN ESENCIAL (PRIMARIA)
3  25245        1             ATENCIÓN PARA LA ANTICONCEPCIÓN
4  25569        1             ATENCIÓN PARA LA ANTICONCEPCIÓN

## Exportar csv

In [11]:
from pathlib import Path 
#Procedimientos
filepath = Path('../../Registros/Bases de datos/2010_2022/Cambio claves/afecciones.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
afecciones.to_csv(filepath, index = False)